@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1,h2,h3,h4,h5{font-family: 'Roboto', 'Open Sans', sans-serif;}
*{box-sizing: border-box; /* padding: 0;  margin: 0;*/}
body{
  display: flex; flex-wrap: wrap; text-align: center; justify-content: center;
  padding: 0;  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 125%;
  /*padding: 30px; */
  background-color: lightgray;
  /*width: 100%;*/
}
.wrapper{
  max-width: 960px;
  padding: 8px;
  margin: 0 auto;
  font-size: 1.03rem;
  background-color: white;
  /*border:2px 0 solid seagreen;*/
}
body>div>div{width: 100%;}
img{max-width: 100%; padding: 0.1rem;}
.logo{border-radius: 50%; padding-top: 2rem; max-width: 86%;}
p,a{padding: 0.1rem;}
a{
  text-decoration: none;
  color: grey;
}
a:hover{color: black;}
#top{/*background-color: seagreen;*/ padding-bottom: 0.5rem;}
.totop{font-size: 3rem; color: seagreen;}

.fa-whatsapp{color: lightgreen;}
.fa-vk{color:aqua;}
.fa-exclamation-circle{color: purple;}
.fa-walking{color:orangered;}

.connectus{font-size: 2rem;}
.connectus{
  display: flex;  justify-content: center; 
  margin-bottom: 32px;
}
.connectus>a{
  /*background-color: white;*/
  padding: 8px 12px; /*flex-grow: 1;*/ text-align: center; 
  border-radius: 50%; text-decoration: none; margin: 4px;
  /*font-size: 1.3em;*/
  box-shadow: 0 5px 7px rgba(0,0,0,0.25);
}

.extlinks{
  display: flex;  justify-content: space-around; 
}
.extlinks>a{background-color: white;
  padding: 4px; flex-grow: 1; text-align: center; 
  border-radius: 4px; text-decoration: none; margin: 4px;
  font-size: 1.3em;
  box-shadow: 0 5px 7px rgba(0,0,0,0.25);
}
.extlinks{flex-wrap: wrap;}

.connectus>a:hover, .extlinks>a:hover{box-shadow: 0 5px 7px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);}

.certification>div{display:flex; justify-content: space-around; width: 100%; flex-wrap: wrap;}
.certification a{max-width:24%;}
.certification img{width:100%;}

.portfolio>div{display:flex; justify-content: space-around; width: 100%; flex-wrap: wrap; align-items: center;}
.portfolio a{max-width:32%;}
.portfolio img{width:100%; border-radius: 16px;}

.certification img:hover, .portfolio img:hover{box-shadow: 0 4px 4px rgba(0,0,0,0.22);}

.uslugi{text-align: left;}
.threehearts{text-align: center;}
.place{display:flex; justify-content: space-around;}
.place>div{text-align: left;}
.place li{list-style-type: none;}

.qrcode{width: 33%;}

.vidWrapper{width: 100%; height: 100%; margin: 0 auto; background: #CCC;}
.h_iframe        {position: relative;}
.h_iframe .ratio {display: block; width: 100%; max-height: auto;}
.h_iframe iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/*for spoiler*/
.dn{/*display: none*/}

h2,h3{text-align: center;}
.price{display: flex; justify-content: space-around; flex-wrap: wrap;}
.price>div{text-align: left;}

.nonoferta{font-size: 75%;}

@media (max-width: 600px) {
  .certification a{max-width:90%;}
  .portfolio a{max-width:90%;}
}